body{
font-family:Arial;
background:#f4f6f9;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
margin:0;
}

:root {
    --amarelo: yellow;
    --branco: white;
    --preto: black;
    --fhemig: #0096bb;

}

.container{
text-align:center;
}

h1{
margin-bottom:40px;
}

.botoes{
display:flex;
gap:40px;
justify-content:center;
}

.botao{
padding:25px 50px;
font-size:20px;
font-weight:bold;
border-radius:10px;
text-decoration:none;
color:white;
transition:0.2s;
}

.hj{
background:#2563eb;
}

.hij{
background:#16a34a;
}

.botao:hover{
transform:scale(1.05);
}

.botao-voltar{
position:fixed;
top:20px;
left:20px;

background:#374151;
color:white;
padding:10px 20px;
border-radius:8px;
text-decoration:none;
font-weight:bold;

box-shadow:0 4px 10px rgba(0,0,0,0.2);
transition:0.2s;
}

.botao-voltar:hover{
background:#1f2937;
transform:scale(1.05);
}