body{
font-family:Arial;
background-color: var(--fhemig);
text-align:center;
}

:root {
    --amarelo: yellow;
    --branco: white;
    --preto: black;
    --fhemig: #0096bb;

}


.botao-voltar{
position:fixed;
top:20px;
left:20px;

background:#374151;
color:white;
padding:10px 20px;
border-radius:8px;
text-decoration:none;
font-weight:bold;

box-shadow:0 4px 10px rgba(0,0,0,0.2);
transition:0.2s;
}

.botao-voltar:hover{
background:#1f2937;
transform:scale(1.05);
}

.cards-container{
width: 100%;
height: 90vh;
display: flex;
justify-content: space-around;
align-items: center;    
}

.setor-card{
    width:320px;
    height:360px;
    background:#ffffff;
    border-radius:24px;
    box-shadow:
        0 8px 30px rgba(0,0,0,0.08);
    padding:40px 30px;
    text-align:center;
    transition:all .3s ease;
    cursor:pointer;

    display:flex;
    flex-direction:column;
    align-items:center;
}

.setor-card:hover{
    transform:translateY(-10px);
    box-shadow:
        0 15px 35px rgba(0,0,0,0.12);
}

.icon-circle{
    width:110px;
    height:110px;
    border-radius:50%;
    background:#eef3ff;

    display:flex;
    align-items:center;
    justify-content:center;

    font-size:50px;
    margin-bottom:30px;
}

.setor-card h3{
    font-size:34px;
    color:#0b1d48;
    margin-bottom:10px;
}

.setor-card span{
    font-size:24px;
    color:#8a97b5;
}

.card-footer{
    margin-top:auto;

    width:100%;
    padding-top:25px;
    border-top:1px solid #edf1f7;

    font-size:50px;
    color:#2f66ff;
    font-weight:300;
}

.setor-card{
    text-decoration:none;
    color:inherit;
}